
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

	
	
	
	.thumbnail {
		margin-bottom: 30px;
	}
	
	header .jumbotron{
		/*background:#358cce;
		color:#fff;*/
		border-radius:0px;
		margin-bottom:0px;
	}
	#cat-navi select{
			display:none;
		}
	
	footer{
		margin-top: 40px;
		padding: 40px;
		background-color:#333;
		color: #ddd;
	}
	
	footer a{
		color: #eee;
	}
	
	@media (max-width: 768px){
	
		#cat-navi select{
			display:block;
			width:100%;
		}
		#cat-navi li{
			display:none;
		}
	}


	@media (max-width: 768px) {
		.container{
			padding-right:20px;
			padding-left:20px;
		}
		.nav-tabs.nav-justified > li{
			float:left;
		}
	}
	
	.loginWidget{
		margin-top: 12px;
	}
	
	.menuPanel .panel-heading{
		padding-top: 0px;
		padding-bottom: 0px;
	}
	
	

	.zeroPanding{
		padding: 0px;
	}
	
	.horizontalCenter{
		float: none;
		margin: 0 auto;
	}
	
	.followingIcon{
		height:120px;
		width:120px;
		padding:5px;
                overflow:hidden;
	}
	
	.textOverflow{
		overflow:hidden; 
		text-overflow:ellipsis;
	}
	
	.forceInline{
		white-space: nowrap;
	}
	
	.mainNavbar.navbar li:hover {
		background-color: #eee ;
	}
	
	.userBelongGroupPanel .panel-heading ,
	.userBelongGroupPanel .panel-footer{
		padding-top: 0px;
		padding-bottom: 0px;
	}
	
        #cat-navi {
        list-style-type:none;list-style:none;padding-left:0;
        margin-bottom: 0px;
        }
        #cat-navi li a{
                border-bottom-right-radius: 0px;
                border-bottom-left-radius: 0px;
                border-top-right-radius: 0px;
                border-top-left-radius: 0px;
        }

            
        .label{
            margin-right: 0px;
        }
        
        
        
        .mainLogo {
            height: 75px;
        }

        .tagContainer{
            padding: 0;
            padding-bottom: 12px;
            list-style-type: none;
        }
        
        .tagContainer li{
            float:left
        }
        
        .viewtagContainer{
            /*padding: 0;*/
            padding-bottom: 12px;
            list-style-type: none;
        }
        
        .viewtagContainer li{
            float:left;
            margin-bottom: 7px;
        }
        
        .illustThumbnail{
            height: 150px;
            overflow: hidden;
        }
        
        .groupProductThumbnail{
            height: 150px;
            overflow: hidden;
        }

        .groupThumbnail{
            height: 150px;
            overflow: hidden;
        }
        
        .itemHover:hover{
            background-color: #eee ;
        }

        .itemHover{
            padding-top:25px;
        }

        .eventHover:hover{
            background-color: #eee
        }

         .center-block {
            display: block;
            margin-left: auto;
            margin-right: auto;
          }

          .text-center{
             text-align: center; 
          }
          
          .min-height{
              min-height:500px
          }
          
          .userName{
              font-size:18px;
          }
          
          .groupName{
              font-size:18px;
          }
          
          .mainLogo {
              padding:12px;
          }

        .description-summary {
            margin-top:6px;
            margin-bottom:6px;
        }
          
        .img-viewfull {
            margin-bottom:6px;
        }
          
        .ui-pnotify.custom-flash-msg{
            background-color: #404040 !important;
            background-image: none !important;
            border: none !important;
            -moz-border-radius: 10px;
            -webkit-border-radius: 10px;
            border-radius: 10px;
        }

/* @bootstrap customize */

h1, h2, h3 {
    margin-top: 5px;
    margin-bottom: 5px;
}

body {
        padding-top: 0px;
        padding-bottom: 0px;
		
		font-size:12px;
      }
      
.nav-tabs{
		margin-bottom:15px;
	}


.btn-group>.btn:first-child {
        margin-right: 3px;
}

.panel-body {
    padding: 8px;
    padding-left: 15px;
    padding-right: 15px;
}

/* @bootstrap extra */
.panel > .list-group
{
    margin-bottom: 0;
}
.panel > .list-group .list-group-item
{
    border-width: 1px 0;
}
.panel > .list-group .list-group-item:first-child
{
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}
.panel > .list-group .list-group-item:last-child
{
    border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child
{
    border-top-width: 0;
}
.panel-default .list-group-item.active
{
    color: #000;
    background-color: #DDD;
    border-color: #DDD;
}
.panel-primary .list-group-item.active
{
    color: #FFF;
    background-color: #428BCA;
    border-color: #428BCA;
}
.panel-success .list-group-item.active
{
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}
.panel-info .list-group-item.active
{
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}
.panel-warning .list-group-item.active
{
    color: #8A6D3B;
    background-color: #FCF8E3;
    border-color: #FAEBCC;
}
.panel-danger .list-group-item.active
{
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}
.panel a.list-group-item.active:hover, a.list-group-item.active:focus
{
    color: #000;
    background-color: #DDD;
    border-color: #DDD;
}

[data-ui-comp="group-info"]{
    word-wrap: break-word;
}

.bubble 
{
    padding: 6px 1px 2px 3px;
    
position: relative;
height: 32px;

background: #FFFFFF;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
border: #7F7F7F solid 1px;
margin-bottom: 8px;
}

.bubble:after 
{
content: '';
position: absolute;
border-style: solid;
border-width: 4px 4px 0;
border-color: #FFFFFF transparent;
display: block;
width: 0;
z-index: 1;
margin-left: -4px;
bottom: -4px;
left: 50%;
}

.bubble:before 
{
content: '';
position: absolute;
border-style: solid;
border-width: 4px 4px 0;
border-color: #7F7F7F transparent;
display: block;
width: 0;
z-index: 0;
margin-left: -4px;
bottom: -5px;
left: 50%;
}

.illust-rating-widget{
    padding-right:12px;
    position: relative;
    min-height: 60px;
}

.plurk-share-link{
    position: relative; 
    top: 41px;
}

.list-item-image{
    height: 100px;
    width: 110px;
}

.list-item-footer{
}

.list-item-footer-item{
    font-weight: bold;
    margin-right: 30px;
}

.list-item-hr{
    margin-top: 5px;
    margin-bottom: 5px;
}

.side-menu-wrapper{
    width: 120px;
}

.text-size-small{
    font-size: 12px;
}